.parent {
    width: 600px;
    height: 300px;
    margin: auto;
    position: relative;
    background-color: lightgrey;
    color: white;
    display: flex;
    flex-flow: wrap-reverse column;
    justify-content: space-around;
    align-content: space-between;
   
}
div {
    height:60px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(72, 119, 103);
    text-align: center;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.two {
    width: 250px;
    align-self: flex-end;
    
}