div .parent span .title
{
    color: blue;
}
div .child span .title
{
    color: red;
}
p {
    color: green;
}
.one,
.two,
.three,
.four {
    background-color: darkred;
    color: white;
    padding: 20px;
    margin: 20px;
    display: block;
    max-width: 400px;
    width: fit-content;
    overflow: hidden;
}