div {
    width: 400px !important;
    position: relative ;
    background-color: lightgray !important;
    height: 50px ;
    color: transparent !important;
    border:1px solid lightgray !important;
    text-align: center;
    font-size: 0px !important;
    font-weight: bold;
    
}
div::after {
content: "Elzero";
color: black;
font-size: 40px;
}