html {
    font-size: 20px;
}
div {
    background-color: white;
    width: 400px;
    height: 30px;
    padding: 30px;
    margin: 60px;
}
.p {
    background-color: rgb(225, 225, 225);
    border: inherit;
    width: 330px ;
    height: 20px;
    text-align: center;
    padding: inherit;
}
.d1 {
    border: 3px solid red;    
}
.d2 {
    border: 3px solid rgb(100, 149, 100);   
}
.one {
    font-style:italic;
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}
.two {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.three {
    font-variant: small-caps;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.o1 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
}
.t2 {
    font-size: 2rem; 
    text-align: center;
    text-transform: capitalize;
}
.th3 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}
