div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color:lightgrey;
    color: black;
  }
  .one {
    background-color:rgb(211, 211, 211 / 0.1);
  }
  .two {
    opacity: 0.1;
  }